vendor/
garbage/
composer.lock
sys/logs/*
sys/tmp/*
sys/files/*.!config.dir.ini
sys/languages/*/_*.lng
sys/ini/settings.ini
sys/files/*
sys/themes/default/cache/*
sys/files/*/.!config.dir.ini
config.php
sys/key/*